export/*
.vscode/*
.haxelib/

*.code-workspace
vs_Community.exe

.history
.ionide
.DS_Store

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
art/build_html.bat
art/build_html-debug.bat